
a {
	text-decoration: none;
	display: inline-block;
}
img{
	width: 100%;
	height: auto;
}
.main-header{
	background-color: #981B21
}
.main-header::after{
	content: "";
	display: table;
	clear: both;
}
.container{
	min-width: 1000px;
	max-width: 1230px;
	padding: 0 10px;
	margin: 0 auto;
}
.main-header .container::after{
	content: "";
	display: table;
	clear: both;
}
.main-navigation-top{
	float: right;
	margin-top: 25px;
	max-width: 700px;
}
.main-header .logo{
	float: left;
	width: 300px;
	padding-top: 10px;
}

.main-menu-top{
	list-style: none;
	margin:0;
	padding:0;
	font-size:0;
}
.main-menu-top li{
	display: inline-block;
	vertical-align: top;
}
.main-menu-top li a{
	font-size: 16px;
	color: #F9EDCF;
	text-transform: uppercase;
	padding: 5px 15px;
	border-right: 2px solid #F9EDCF;
}
.main-menu-top li:last-child a{
	border-right: none;
}
.intro{
	height: auto;
	min-height:421px;
	background: grey url("../img/background_4.jpg") no-repeat center center;
	background-size:cover;
	transition: all 0.5s ease 0s;
}
.intro:hover{
	filter: blur(5px);
}
.intro .expl{
	float: left;
	margin-top: 250px;
	width: 250px;
	padding: 20px;
	background: rgba(249,237,207,0.4);
	color: #981B21;
	font-size: 20px;
	
}