body {
	font-family: 'Roboto Condensed', sans-serif;
}

.main-header{
	background-color: #981B21
}

.nav li a{
	font-size: 16px;
	color: #F9EDCF;
	text-transform: uppercase;
	line-height: 20px;
}

.intro{
	transition: all 0.5s ease 0s;
}

.intro:hover{
	filter: blur(5px);
}

.main-footer {
	background-color: #981B21;
	padding-top:25px;
	padding-bottom: 25px;
	color: #ffffff;
}

.social-btn {
    background-image: url("../img/icon_fb.png");
	background-position: 15px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 43px;
    margin-right: 6px;
    vertical-align: top;
    width: 43px;
}
.social-btn-inst {
	background-image: url("../img/icon_inst.png");
}