/*about*/

.about {
	background: url('../img/about.jpg') 0 center no-repeat;
	color: #ffffff;
	text-align:center;
	padding-top:60px;
	padding-bottom: 80px;
	margin-bottom: 50px;
    height: 280px;
  background-size: cover;
  background-attachment: fixed;
}

.about h2 {
	font-size: 45px;
	line-height: 60px;
	text-transform: uppercase;
}

.about p {
	font-size: 20px;
	line-height: 30px;
	padding-right: 10%;
	padding-left: 10%;
}