.main-footer {
	background-color: @common-color_1;
	padding-top:25px;
	padding-bottom: 25px;
	color: #ffffff;
	line-height: 20px;
}

.social-btn {
	background-color: rgba(0,0,0,0.4);
    background-image: url("../img/icon_fb.png");
	background-position: 15px 10px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 43px;
    margin-right: 6px;
    vertical-align: top;
    width: 43px;
}
.social-btn:hover{
	background-color:  rgba(0,0,0,0.2);
}
.social-btn-inst {
	background-image: url("../img/icon_inst.png");
	background-position: 12px 10px;
}